absl-py==0.13.0
aiofiles==0.7.0
aiohttp==3.7.4
aiormq==3.3.1
astunparse==1.6.3
async-timeout==3.0.1
attrs==21.2.0
bidict==0.21.3
botocore==1.21.58
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.6
chardet==3.0.4
clang==5.0
click==8.1.3
cloudpickle==1.6.0
cmake==3.22.4
colorama==0.4.4
coloredlogs==15.0.1
cryptography==3.4.8
cycler==0.10.0
decorator==4.4.2
distlib==0.3.4
dlib @ file:///C:/Users/ADMIN/face_recog_dlib_file/dlib-19.19.0-cp38-cp38-win_amd64.whl
dm-tree==0.1.6
dnspython==1.16.0
docopt==0.6.2
face-recognition==1.3.0
face-recognition-models==0.3.0
filelock==3.4.2
Flask==2.1.2
Flask-MySQL==1.5.2
flatbuffers==1.12
fonttools==4.33.3
future==0.18.2
gast==0.4.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==1.1.1
grpcio==1.40.0
gunicorn==20.1.0
h11==0.9.0
h5py==3.1.0
heroku==0.1.4
httpcore==0.11.1
httplib2==0.19.1
httptools==0.3.0
httpx==0.15.4
humanfriendly==10.0
idna==2.10
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.0.1
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
Markdown==3.3.4
MarkupSafe==2.1.1
matplotlib==3.5.2
multidict==5.0.0
numpy==1.19.5
oauthlib==3.1.1
opencv-python==4.5.5.64
opt-einsum==3.3.0
packaging==21.3
pamqp==2.3.0
Pillow==8.3.2
platformdirs==2.4.1
prompt-toolkit==2.0.10
protobuf==3.18.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyJWT==2.1.0
pymongo==3.10.1
PyMySQL==1.0.2
pyodbc==4.0.32
pyparsing==2.4.7
pyreadline3==3.3
pyrsistent==0.18.0
python-crfsuite==0.9.7
python-dateutil==1.5
python-engineio==4.2.1
pytz==2021.1
rasa-x==0.0.1
requests==2.25.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
rsa==4.7.2
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.6
s3transfer==0.5.0
sanic==20.9.1
Sanic-Cors==0.10.0.post3
Sanic-Plugins-Framework==0.9.5
scipy==1.7.1
six==1.15.0
sniffio==1.2.0
tabulate==0.8.9
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow-estimator==2.6.0
termcolor==1.1.0
threadpoolctl==2.2.0
tqdm==4.62.3
typeguard==2.12.1
typing-extensions==3.7.4.3
tzlocal==2.1
ujson==4.1.0
urllib3==1.26.6
virtualenv==20.13.0
virtualenvwrapper-win==1.2.7
wcwidth==0.2.5
webexteamssdk==1.6
websockets==8.1
Werkzeug==2.0.1
wrapt==1.12.1
yarl==1.6.3
zipp==3.8.0
